@use "@styles/variables.module" as *;

.header-container {
  width: 100%;
  background-image: url("light-background.jpg");
  transition: transform 0.5s;
  transform: translateY(-100%);

  &_show {
    transform: translateY(0);
  }

  &_collapsible {
    position: absolute;
  }
}

.header {
  padding: 0 60px;
  position: relative;
  padding-bottom: 12px;

  &_is-collabsible {
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 20%);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  }

  &__auth-container {
    display: flex;
    gap: 16px;
  }

  &__auth-item {
    font-size: 32px;
    font-family: $font-heading;
    list-style: none;
    cursor: pointer;
  }

  &__menu-container {
    width: 100%;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    padding-bottom: 16px;
  }

  &__menu-item {
    list-style: none;
    cursor: pointer;
    font-family: $font-heading;
    font-size: 32px;
    line-height: 1.15;
  }

  &::before {
    position: absolute;
    content: "";
    height: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 4px;
    width: calc(100% - 120px);
    background: #000;
    border-radius: 2px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 12px;
    width: calc(100% - 120px);
    background: #000;
    border-radius: 1px;
  }

  &__show-btn {
    position: absolute;
    width: 60px;
    height: 36px;
    right: 60px;
    bottom: 16px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateY(calc(100% + 36px));

    &_hide-menu {
      transform: translateY(calc(-100% + 36px));
    }

    &:hover {
      /* transform: scale(1.05); */
      transition: transform 0.5s;
    }
  }
}
