@use './fonts.scss';

$font-title: 'Rye', serif; // Основной заголовок (h1)
$font-heading: 'Tangerine', cursive; // Заголовки и элементы интерфейса (меню, кнопки)
$font-body: 'Habibi', sans-serif; // Основной текст

